scipy>=1.4.1, <1.13
pandas>1.1, <2.3
matplotlib>=3.7, <3.9
pydantic>=1.8.1, <2.7
PyYAML>=5.0.0, <6.1
jinja2>=2.11.1, <3.2
visions[type_image_path]>=0.8.1
numpy>=1.21
polars>=1.24.0
htmlmin==0.1.12
phik>=0.11.1, <0.13
requests>=2.24.0, <2.32
tqdm>=4.65, <4.67
seaborn>=0.10.1, <0.14
multimethod>=2.0
statsmodels>=0.13.2, <0.15
typeguard>=2.13.2, <4.3

